@model NewsByTheMood.MVC.Models.TopicModel[]

@foreach (var topic in Model)
{
    <li>
        <a asp-area="" asp-controller="home" asp-action="topic" asp-route-id="@topic.Id" class="dropdown-item">
            <i class="fs-4 @topic.IconCssClass"></i>
            <span class="ms-1 d-none d-xl-inline">
                @topic.Name
            </span>
        </a>
    </li>
}

