<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/PartialViews/_HeadPartial.cshtml" />
</head>
<body>
    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <partial name="~/Views/Shared/PartialViews/_FooterPartial.cshtml" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="~/Views/Shared/PartialViews/_ValidationScriptsPartial.cshtml" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
