@model NewsByTheMood.MVC.Models.TopicModel[]

<div class="navbar_topics">
	<ul>
		@foreach (var topic in Model)
		{
			<li>
				<a asp-controller="articles" asp-action="topic" asp-route-id="@topic.Name">@topic.Name</a>
			</li>
		}
	</ul>
</div>

