@model NewsByTheMood.MVC.Models.TopicModel[]

<div class="topics-navbar">
	<ul>
		@foreach (var topic in Model)
		{
			<li>
				<a asp-controller="articles" asp-action="topic" asp-route-id="@topic.TopicName">@topic.TopicName</a>
			</li>
		}
	</ul>
</div>

