<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/PartialViews/_HeadPartial.cshtml" />
</head>
<body>
    <partial name="~/Views/Shared/PartialViews/_HeaderPartial.cshtml" />
    <main role="main">
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="aside-bar col-auto px-sm-2 px-0">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 text-white">
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item">
                                <a class="nav-link px-0 align-middle" asp-controller="topics" asp-action="index">
                                    <i class="fs-4 bi bi-bookmarks"></i> <span class="ms-1 d-none d-sm-inline">Topics</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 align-middle" asp-controller="sources" asp-action="index">
                                    <i class="fs-4 bi bi-layout-text-sidebar-reverse"></i> <span class="ms-1 d-none d-sm-inline">Sources</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 align-middle" asp-controller="articles" asp-action="index">
                                    <i class="fs-4 bi bi-newspaper"></i> <span class="ms-1 d-none d-sm-inline">Articles</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link px-0 align-middle" asp-controller="tags" asp-action="index">
                                    <i class="fs-4 bi bi-tags"></i> <span class="ms-1 d-none d-sm-inline">Tags</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col mb-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - NewsByTheMood - <a asp-area="" asp-controller="home" asp-action="index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="~/Views/Shared/PartialViews/_ValidationScriptsPartial.cshtml" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
