<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <img src="~/images/newsbythemood-logo.webp" style="width: 50px; height: 50px;" />
                &copy; 2025 - <a href="https://github.com/AleksCiares/NewsByTheMood" target="_blank" class="text-decoration-none">NewsByTheMood</a>
            </div>
        </div>
    </div>
</footer>