<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/PartialViews/_HeadPartial.cshtml" />
</head>
<body>
    <partial name="~/Views/Shared/PartialViews/_HeaderPartial.cshtml" />
    <main role="main">
        <div class="container-fluid">
            <div class="row flex-nowrap align-items-start justify-content-center">
                <div class="col-auto">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    @await RenderSectionAsync("Footer", required: false)
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
