<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Shared/PartialViews/_HeadPartial.cshtml" />
</head>
<body>
    <partial name="~/Views/Shared/PartialViews/_HeaderPartial.cshtml" />
    <main role="main" class="pb-3">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - NewsByTheMood - <a asp-area="" asp-controller="home" asp-action="index">Home</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
