form#addCommentForm .comment-form__text-wrap {
    position: relative;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
form#addCommentForm button.btn {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 10px;
    padding-bottom: 10px;
    z-index: 1;
}