.article__preview-img {
    position: relative;
}
.article__preview-img img {
    height: auto;
    max-width: 100%;
}
.article__preview-img .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0;
    color: white;
    padding: 10px;
}
.article .article__tags div {
    border-color: var(--main-highlight-color) !important;
}