@model NewsByTheMood.MVC.Models.ArticlePreviewModel[]
@{
    ViewData["Title"] = "Home";
}
<div class="Home">
    <partial name="~/Views/Shared/PartialViews/_ArticlesPreviewPartial.cshtml" model="@Model" />
</div>

