@model SourceEditModel
@{
	ViewData["PageTitle"] = "Adding a source";
}

<div class="source container">
	<div class="source__form row align-items-start justify-content-start">
		<form asp-controller="sources" asp-action="add" asp-antiforgery="true" method="post">
			<partial name="_SourceEditFormPartial" model="@Model" />
		</form>
	</div>
</div>