@model TopicModel

<div class="name form-floating mb-3">
	<input asp-for="@Model.Name" type="text" class="form-control" placeholder="@nameof(Model.Name)" />
	<label asp-for="@Model.Name" class="form-label">Topic name</label>
	<span asp-validation-for="@Model.Name" class="error-feedback alert alert-danger" role="alert"></span>
</div>
@await Component.InvokeAsync("TopicsIcon")
<button class="submit btn btn-primary" type="submit">Submit</button>
