@model TopicModel
@{
	ViewData["PageTitle"] = "Adding a topic";
}

<div class="topic container">
	<div class="topic__form row align-items-start justify-content-start">
		<form asp-controller="topics" asp-action="add" asp-antiforgery="true" method="post">
			<partial name="_TopicEditFormPartial" model="@Model" />
		</form>
	</div>
</div>