@model TopicModel[]
@{
	ViewData["PageTitle"] = "Topics";
}

<div class="topics container">
	<div class="topic__header d-flex row mb-4">
		<h4 class="mb-0">Topics</h4>
	</div>
	<div class="topics__panel row align-items-start justify-content-start mb-4">
		<div class="col-auto">
			<a asp-controller="topics" asp-action="create" class="btn btn-outline-primary">Create</a>
		</div>
	</div>
	<div class="topics__list row row-cols-4 row-cols-sm-6 row-cols-md-8 row-cols-lg-10">
			@foreach (var topic in Model)
			{
			<div class="topics__preview col mb-4 rounded">
				<div class="card text-center">
					<div class="card-header">
						@topic.Name
					</div>
					<div class="card-body">
						<i class="fs-4 @topic.IconCssClass"></i> <span class="ms-1 d-none d-sm-inline"></span>
					</div>
					<div class="card-footer">
						<a asp-controller="topics" asp-action="edit" asp-route-id="@topic.Id" class="btn btn-primary">Edit</a>
					</div>
				</div>
			</div>
			}
	</div>
</div>