@model TopicCollectionModel
@{
	ViewData["PageTitle"] = "Topics";
}

<div class="topics container">
	<div class="topics__panel row align-items-start justify-content-start">
		<nav class="nav">
			<button type="button" class="btn btn-primary">
				<a  class="nav-link" asp-controller="topics" asp-action="add">Add</a>
			</button>
		</nav>
	</div>
	<div class="topics__container row align-items-start justify-content-start">
		@foreach (var topic in Model.Topics)
		{
			<button class="topics__preview btn btn-light" type="button">
                <a asp-controller="topics" asp-action="edit" asp-route-id="@topic.Id">Edit</a>
			</button>
		}
	</div>
</div>