@* 
	if need some string in c# block 
	@if(condition)
	{
		for exmaple here u need plain text u can write
		@: some text .....
	}

	if need function, but that is bad practice write a lot of c# logic in VIEW!!!
	@function
	{
		public int Sum(int a, int b)
		{
			retunr a + b;
		}
	}

	ways to transfer data to the view, bad practice for data trasfer to View!:
	- ViewData works like KeyValuePair 
		ViewData["key"] = value from controller
		@ViewData["key"] in View
		Best place where its using - layouts

	- ViewBag is dynamyc type, bad practice for data trasfer to View!
		ViewBag.Name = "Alice"
		ViewBage.Age = 10
		View.OtherProperty = value

	- TempData isnt used, is archaic

	- View model best way to transfer data to View
*@

@*
@model SampleModel

<div class="text-center">
	<form asp-action="LoginProcess" asp-controller="Sample" method="post">
		<div>
			<label asp-for="Name">Name</label>
			<input asp-for="Name" type="text"/>
			<span asp-validation-for="Name"></span>
		</div>
		<div>
			<label asp-for="Email">Email</label>
			<input asp-for="Email" type="email"/>
		</div>	
		<button type="submit">Отправить</button>
	</form>
</div>
*@

@*
	to add additional section that load to layout, need write @section sectionName{}
	that render in the layout via @await RenderSectionAsync("sectionName", required: false)
	Dont use a lot, bad pratice! 
*@

@*
@section Scripts
{
	<div>Some Div</div>
}
*@

@*
	PartialView dont call Controler, works like static layout
	@await Html.PartialAsync("Topics");
*@
