@model string[]

@if(Model.Length > 0)
{
	<div class="icons-bar mb-3">
		<div class="container-fluid" style="padding-left: 0; padding-right: 0;">
			<div class="d-flex mb-3">
				<h4 class="mb-0">Icons library</h4>
			</div>
			<div class="row row-cols-10 row-cols-sm-12">
				@foreach (var iconClass in Model)
				{
					<div class="col mb-4 rounded">
						<div class="icon-item card text-center" value="@iconClass">
							<div class="card-body">
								<i class="fs-4 @iconClass"></i>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
}

