html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* width */
::-webkit-scrollbar {
    width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.aside-bar {
    border-right: 1px solid #dee2e6;
}

.aside-bar .nav-link,
.main-bar .nav-link {
    color: black !important;
}

.error-feedback{
    display: inline-block !important;
    margin: 0 !important;
    padding: 0.5rem !important;
    border: none !important;
    margin-top: 10px !important;

}

