:root {
    --main-text-color: rgb(33, 33, 33);
    --secondary-text-color: white;
    --main-highlight-color: rgb(119, 7, 187);
    --main-background-color: white;
}
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
/* width */
::-webkit-scrollbar {
    width: 0.5em;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
a {
    color: var(--main-highlight-color) !important;
    text-decoration-line: none;
}
a:hover {
    text-shadow: 0px 0px 15px var(--main-highlight-color);
}
a.active {
    text-shadow: 0px 0px 7px var(--main-highlight-color);
}
a.btn {
    border-color: var(--main-highlight-color);
}
a.btn:hover {
    color: var(--secondary-text-color) !important;
}
a.nav-link, a.dropdown-item {
    color: var(--main-text-color) !important;
}
.aside-bar {
    border-right: 1px solid #dee2e6;
}
.error-feedback {
    display: inline-block !important;
}






