@model NewsByTheMood.MVC.Models.ArticleCollectionModel
@{
    ViewData["PageTitle"] = Model.PageTitle;
}
@await Component.InvokeAsync("TopicsNavBar")
<div class="articles">
    <partial name="~/Views/Shared/PartialViews/_ArticlesPreviewPartial.cshtml" model="@Model.ArticlePreviews" />
</div>
<pagination page-action="index" page-info="@Model.PageInfo"></pagination>


