@model NewsByTheMood.MVC.Models.ArticleCollectionModel
@{
    ViewData["PageTitle"] = Model.PageTitle;
}

<div class="articles container">
	<div class="articles__list row justify-content-center row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-4">
		<partial name="~/Views/Shared/PartialViews/_ArticlesPreviewPartial.cshtml" model="@Model.ArticlePreviews" />
	</div>
	@if (Model.PageInfo.TotalPages > 1)
	{
		<div class="articles__pagination row align-items-center justify-content-center mb-4">
			<div class="col-auto">
				<pagination page-action="index" page-info="@Model.PageInfo"></pagination>
			</div>
		</div>
	}
</div>