@model NewsByTheMood.MVC.Models.ArticleCollectionModel
@{
    ViewData["PageTitle"] = Model.PageTitle;
}
@await Component.InvokeAsync("TopicsNavBar")
<div class="articles">
    <div class="articles_topic">
        <h3>
            @Model.PageTitle
        </h3>
    </div>
    <partial name="~/Views/Shared/PartialViews/_ArticlesPreviewPartial.cshtml" model="@Model.ArticlePreviews" />
</div>
<pagination page-action="topic" page-info="@Model.PageInfo"></pagination>

